SITE_TITLE=EasyPV
HOME_TITLE=Home
APP_LANG=FR

DB_HOST=db
DB_NAME=omodev
DB_USER=omodev
DB_PASS=omodev

OPENAI_API_KEY=
OPENAI_UPLOAD_API_KEY=
OPENAI_MODEL=gpt-4o
OPENAI_TRANSLATION_MODEL=gpt-4o

MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_SECURE=
MAIL_AUTH=false
MAIL_CHARSET=UTF-8
MAIL_USER=
MAIL_PASS=

PAYPAL_CLIENT_ID=
TELEGRAM_BOT_TOKEN=
