/.env
/docker/app/.env
/docker/app/.env.private
/docker/db/init/*.local.sql
/docker/db/init/*.private.sql
/docker/db/init/*.disabled
/img/upload/**

/test/**
/*.htm
/dompdf/**
/macros-libreoffice/**
/library/**
/data/**
