Options -MultiViews

ErrorDocument  404  /404.php

RewriteEngine On

RewriteCond %{HTTP:Authorization} .
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} ^([A-Za-z0-9.-]+\.localtest\.me)(:80)?$ [NC]
RewriteRule (.*) https://%1%{REQUEST_URI} [R=302,L]

RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} !(^|\.)(localhost|127\.0\.0\.1)(:\d+)?$ [NC]
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

RewriteRule ^memo/?$ /memo/index.php [QSA,L]
RewriteRule ^memo/([0-9]+)/?$ /memo/index.php?open_document_id=$1 [QSA,L]
RewriteRule ^memo/([0-9]+)/([0-9a-f]+)/?$ /memo/view.php?id=$1&access_code=$2 [QSA,L]

RewriteRule ^circle/public/([0-9A-Za-z]+)/?$ /circle/index.php?view=$1 [QSA,L]

RewriteRule ^pv/([0-9]+)/?$ /pv/index.php?id=$1 [QSA,L]

RewriteRule ^decision/access/([0-9A-Za-z_-]+)/?$ /common/decision_participation.php?token=$1 [QSA,L]
RewriteRule ^decision/access/([0-9A-Za-z_-]+)/(view|participate)/?$ /common/decision_participation.php?token=$1&intent=$2 [QSA,L]
RewriteRule ^decision/public/([0-9]+)/([0-9]+)/?$ /common/decision_participation.php?public=1&oid=$1&id=$2 [QSA,L]
RewriteRule ^decision/public/([0-9]+)/([0-9]+)/(view|participate)/?$ /common/decision_participation.php?public=1&oid=$1&id=$2&intent=$3 [QSA,L]
RewriteRule ^decision/public/([0-9]+)/([0-9]+)/c/([0-9]+)/?$ /common/decision_participation.php?public=1&oid=$1&id=$2&cid=$3 [QSA,L]
RewriteRule ^decision/public/([0-9]+)/([0-9]+)/c/([0-9]+)/(view|participate)/?$ /common/decision_participation.php?public=1&oid=$1&id=$2&cid=$3&intent=$4 [QSA,L]

RewriteRule ^qr$ /qr.php [L]
RewriteRule ^qr/([0-9A-Za-z]+)/?$ /qr.php?id=$1 [QSA,L]
RewriteRule ^qr/([0-9]+)/([0-9A-Za-z_\-]+)/?$ /qr.php?uid=$1&id=$2 [QSA,L]
RewriteRule ^qr/image/([0-9A-Za-z]+)/?$ /qr.php?output=image&id=$1 [QSA,L]
RewriteRule ^qr/image/([0-9]+)/([0-9A-Za-z_\-]+)/?$ /qr.php?output=image&uid=$1&id=$2 [QSA,L]


# 👉 ignorer fichiers statiques
RewriteCond %{REQUEST_URI} !\.(css|js|png|jpg|jpeg|gif|svg|ico)$ [NC]

# 👉 routes OMO
RewriteRule ^omo/?$ /omo/index.php [QSA,L]
RewriteRule ^omo/c/[0-9]+/?$ /omo/index.php [QSA,L]
RewriteRule ^omo/o/[0-9]+(/c/[0-9]+)?/?$ /omo/index.php [QSA,L]
RewriteRule ^\.well-known/carddav/?$ /omo/api/carddav/ [R=302,L]
RewriteRule ^\.well-known/caldav/?$ /omo/api/caldav/ [R=302,L]
RewriteCond %{REQUEST_URI} !^/omo/api/carddav/index\.php$ [NC]
RewriteRule ^omo/api/carddav/?$ /omo/api/carddav/index.php [QSA,L]
RewriteCond %{REQUEST_URI} !^/omo/api/carddav/index\.php$ [NC]
RewriteRule ^omo/api/carddav/.+$ /omo/api/carddav/index.php [QSA,L]
RewriteCond %{REQUEST_URI} !^/omo/api/caldav/index\.php$ [NC]
RewriteRule ^omo/api/caldav/?$ /omo/api/caldav/index.php [QSA,L]
RewriteCond %{REQUEST_URI} !^/omo/api/caldav/index\.php$ [NC]
RewriteRule ^omo/api/caldav/.+$ /omo/api/caldav/index.php [QSA,L]
