Options -MultiViews

ErrorDocument  404  /404.php

RewriteEngine On

RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} !(^|\.)(localhost|127\.0\.0\.1)(:\d+)?$ [NC]
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

RewriteRule ^memo$ /memo.php [L]
RewriteRule ^memo/([0-9]+)/?$ /memo.php?id=$1 [QSA,L]
RewriteRule ^memo/([0-9]+)/([0-9a-f]+)/?$ /memo.php?id=$1&pwd=$2 [QSA,L]

RewriteRule ^circle$ /circle.php [L]
RewriteRule ^circle/$ /circle.php [L]
RewriteRule ^circle/public/([0-9A-Za-z]+)/?$ /circle.php?view=$1 [QSA,L]

RewriteRule ^pv$ /pv.php [L]
RewriteRule ^pv/([0-9]+)/?$ /pv.php?id=$1 [QSA,L]

RewriteRule ^qr$ /qr.php [L]
RewriteRule ^qr/([0-9A-Za-z]+)/?$ /qr.php?id=$1 [QSA,L]
RewriteRule ^qr/([0-9]+)/([0-9A-Za-z_\-]+)/?$ /qr.php?uid=$1&id=$2 [QSA,L]
RewriteRule ^qr/image/([0-9A-Za-z]+)/?$ /qr.php?output=image&id=$1 [QSA,L]
RewriteRule ^qr/image/([0-9]+)/([0-9A-Za-z_\-]+)/?$ /qr.php?output=image&uid=$1&id=$2 [QSA,L]


# 👉 ignorer fichiers statiques
RewriteCond %{REQUEST_URI} !\.(css|js|png|jpg|jpeg|gif|svg|ico)$ [NC]

# 👉 routes OMO
RewriteRule ^omo/?$ /omo/index.php [QSA,L]
RewriteRule ^omo/c/[0-9]+/?$ /omo/index.php [QSA,L]
RewriteRule ^omo/o/[0-9]+(/c/[0-9]+)?/?$ /omo/index.php [QSA,L]

